header {
    height: 150px;
    
    background: rgb(65,109,25);
    background: linear-gradient(180deg, rgba(65,109,25,1) 
    30%, rgba(62,113,35,0.8855917366946778) 
    50%, rgba(0,212,255,0) 100%);
}

section {
    display: inline-block;

}

.about {
    background-color: gray;
    height: auto;
    width: 60%;
}
.logo {
    border-radius: 50px;
    width: 20px;
}

.logo img {
    height: auto;
    width: auto;
}